<?xml version="1.0"?>
<launch>
  <!-- Parameters -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_robot_broadcaster" args="0 0 0 0 0 0 1 world odom" />

  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_imu_broadcaster" args="-0.3176955976234 -0.13761019052125 0.05898352725152 0.9999307 -0.0107514 -0.0041089 -0.00247 odom imu_frame" /> -->

  <!-- <node pkg="tf" type="static_transform_publisher" name="radar_to_imu_broadcaster"
      args="-0.3176955976234 -0.13761019052125 0.05898352725152 0.9999307 -0.0107514 -0.0041089 -0.00247 radar_frame imu_frame 100" /> -->

  <rosparam file="$(find radar_graph_slam)/config/params.yaml" command="load" />
  <param name="use_sim_time" value="true"/>

  <include file="$(find radar_graph_slam)/launch/rosbag_play_radar_ntuloop1.launch" />

  <node name="imu_preintegration_node" pkg="radar_graph_slam" type="imu_preintegration_node" output="screen">
  </node>
  
  <!-- arguments -->
  <arg name="nodelet_manager" default="radarslam_nodelet_manager" />
  <arg name="enable_floor_detection" default="True" />
  <arg name="enable_barometer" default="false" /> <!-- barometer altitude constraint, not used -->
  <arg name="barometer_edge_type" default="1" /> <!-- not used -->
  <arg name="enable_gps" default="false" />
  <arg name="enable_dynamic_object_removal" default="false" />
  <arg name="enable_frontend_ego_vel" default="true" />
  <arg name="enable_preintegration" default="false" /> <!-- not used -->

  <arg name="keyframe_delta_trans_front_end" default="0.5" />
  <arg name="keyframe_delta_trans_back_end" default="2" /><!-- 1 2 -->
  <arg name="keyframe_delta_angle" default="0.2612" /><!-- 10°: 0.1745 15°: 0.2612 -->

  <arg name="enable_transform_thresholding" default="true" />
  <arg name="enable_loop_closure" default="false" />
  
  <!-- ICP NDT_OMP FAST_GICP FAST_APDGICP FAST_VGICP   -->
  <arg name="registration_method" default="FAST_APDGICP" />
  <arg name="reg_resolution" default="1.0" />
  
  <arg name="dist_var" default="0.86" />
  <arg name="azimuth_var" default="0.5" />
  <arg name="elevation_var" default="1.0" />
  
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen"/>

  <!-- radar_preprocessing_nodelet -->
  <node pkg="nodelet" type="nodelet" name="radar_preprocessing_nodelet" args="standalone radar_graph_slam/PreprocessingNodelet $(arg nodelet_manager)">
    <!-- distance filter -->
    <param name="use_distance_filter" value="true" />
    <param name="distance_near_thresh" value="2" />
    <param name="distance_far_thresh" value="100.0" />
    <param name="z_low_thresh" value="-100.0" />
    <param name="z_high_thresh" value="100.0" />
    <!-- NONE, VOXELGRID(0.1), or APPROX_VOXELGRID -->
    <param name="downsample_method" value="VOXELGRID" />
    <param name="downsample_resolution" value="0.1" />
    <!-- NONE, RADIUS 2(initial 0.5 2), STATISTICAL, or BILATERAL -->
    <param name="outlier_removal_method" value="RADIUS" />
    <param name="statistical_mean_k" value="30" />
    <param name="statistical_stddev" value="1.2" />
    <param name="radius_radius" value="0.5" />
    <param name="radius_min_neighbors" value="1" />
    <param name="bilateral_sigma_s" value="5" />
    <param name="bilateral_sigma_r" value="0.03" />
    <!-- Power Filterring -->
    <param name="power_threshold" value="0.0" />
    <!-- Ego Velocity Estimation -->
    <param name="enable_dynamic_object_removal" value="$(arg enable_dynamic_object_removal)" />
    <!-- ground truth publication -->
    <param name="gt_file_location" value="/home/zhuge/datasets/Radar/gt_carpark1.txt" />
  </node>

  <node name="scan_matching_odometry_node" pkg="radar_graph_slam" type="scan_matching_odometry_node" output="screen">
    <param name="use_ego_vel" value="$(arg enable_frontend_ego_vel)"/>     
  </node>

  <node pkg="rviz" type="rviz" name="rviz_slam" args="-d $(find radar_graph_slam)/rviz/4D_RIS_rviz.rviz" respawn="true"/>

</launch>
