<?xml version="1.0"?>
<launch>
  
  <include file="$(find radar_graph_slam)/launch/rosbag_play_radar_ntuloop1.launch" />

  <!-- <node pkg="tf" type="static_transform_publisher" name="world_to_robot_broadcaster"
          args="1 0 0 0 0 0 1 world odom 100" /> -->

  <node pkg="tf2_ros" type="static_transform_publisher" name="world_to_robot_broadcaster" args="1 0 0 0 0 0 1 world odom" />
  <!-- <include file="$(find radar_graph_slam)/launch/rosbag_play_radar_ntuloop2.launch" /> -->
  <!-- <include file="$(find radar_graph_slam)/launch/rosbag_play_radar_ntuloop3.launch" /> -->
  <!-- <include file="$(find radar_graph_slam)/launch/rosbag_play_radar_smoke.launch" /> -->

</launch>
